.story{
    width: 600px;
    height: 162px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    
}
.story-post{
  margin-top: 25px;
  padding-top: 8px;
  margin-left: 37px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e1e4e6;
}
.story-post-icon{
  font-size: 20px;
}
.story-post-heading{
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
  font-weight: 400;
}
.story-section-group{
  display: flex;
  gap: 10px;
}
.story-section-profile{
  width: 160px;
  height: 140px;
  border: dashed 3px ;
  border-color: #e1e4e6;
  margin-top: 7px;
  background-color: white;
  cursor: pointer;
}
.story-group{
  width: 600px;
  height: 160px;
  margin-top: 7px;
  color: green; 
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.story-group{
  display: flex;
}
.story-img{
  width: 130px;
  height: 140px;
  padding-left: 10px;
  cursor: pointer;
}
