.change-passowrd{
    width: 875px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color:white;
}
.change-password-heading{
    display: flex;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}
.change-password-para{
    display: flex;
    text-align: left;
    padding-left: 20px;
    font-weight: 400;
}
.change-password-label{
    display: flex;
    text-align: left;
    padding-left: 25px;
    color: #6c757d;
    font-weight: 200;
}
.change-password-input{
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
}
.password-change-hr{
    width: 95%;
    margin-left: 20px;
    height: 10px;
    margin-top: 50px;
}
.change-password-social-link{
   width: 95%;
   margin-left: 20px;
}
.change-password-button{
    text-align: right;
    padding-right: 20px;
}