.follow{
    width: 275px;
    height: 450px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: white;
}
.follow-heading{
    padding-right: 100px;
    padding-top: 18px;
    font-weight: 700;
}
.follow-contain{
    display: flex;
    justify-content: space-around;
}
.follow-img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 05px; 
    margin-left: 10px;
    
}
.follow-name-role{
    margin-top: 7px;
}
.follow-name{
    padding-right: 70px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    line-height: 10px;
    line-height: 1.5;
}
.follow-small-role{
    font-weight: 200;
    line-height: 12px;
    padding-right: 70px;
}
.follow-button{
    margin-top: 12px;  
    margin-right: 15px;
}
.follow-friend-button{
    border-radius: 50%;
    font-size: 18px;
    background-color: #cfe2ff;
    border-style: none;
    color: blue;
    padding: auto;
}
.follow-view-button{
    background-color: #cfe2ff;
    border-style: none;
    width: 240px; 
    color: blue;
}
