.Connection{
    width: 776px;
    height: 500px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 180px;
}
.Connection-heading{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.171875rem;
    font-weight: 700;
    line-height: 1.25;
    color: #0f0f10;
}
.Connection-image{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 50px;
}
.Connection-body{
    display: flex;
}
.Collection-heading-para{
    text-align: left;
    margin-left: 10px;
    margin-top: 40px;
    display: flex;
    gap: 08px;
}
.Connection-list{
    text-decoration: none;
    color: #0f0f10;
    font-size: 0.9375rem;
    font-weight: 700;
}
.Connection-para{
    font-weight: 400;
    font-size: 0.875em;
    color: #6c757d;
}
.Connection-avatar{
    margin-top: -10px;
    margin-left: -10px;
}
.avatar-ul{
    list-style-type: none;
    display: flex;
}
.Avatar-Connection{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: -11px;
    border: 2px solid white;
}
.avatar-five{
    width: 24px;
    height: 24px;
    background-color: #007bff;
    color: white;
    font-size: 0.575em;
    font-weight: 600;
    border-radius: 50%;
    margin-left: -11px;
    margin-top: 2px;
    border: 2px solid white;
    padding: 4px;
}
.Connection-small{
    color: #6c757d;
    font-weight: 400;
}
.Connection-button{
    margin-left:10px;
    margin-top: 50px;

}
.Connection-remove{
    margin-left: 15px;
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
    border-style: none;
}
.Connection-message{
    margin-left: 15px;
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
    border-style: none;
}
.Connection-button-large {
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
    border-style: none; 
    width: 95%;
}