.Connection{
    width: 776px;
    height: 560px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 180px;
}
.Connection-heading{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.171875rem;
    font-weight: 700;
    line-height: 1.25;
    color: #0f0f10;
}
.connection-box{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.connection-element{
    display: flex;
}
.connection-img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 20px; 
    margin-left: 20px;
}
.connection-info{
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 2px;
}
.connection-name-role{
    display: flex;
}
.connection-heading-name{
    line-height: 12px;
}
.connection-list{
    text-decoration: none;
    color: #14191e;
    font-weight: 700;
    margin-right: 10px;
}
.connection-role{
    color: #676a79;
    line-height: 12px; 
}
.connection-mutual-img{
    display: flex;
}
.connection-friend-img{
    margin-left: 10px;
}
.Avatar-Connection{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: -11px;
    border: 2px solid white;
}
.avatar-five{
    width: 24px;
    height: 24px;
    background-color: #007bff;
    color: white;
    font-size: 0.575em;
    font-weight: 600;
    border-radius: 50%;
    margin-left: -11px;
    margin-top: 2px;
    border: 2px solid white;
    padding: 4px;
}
.connection-mutual-friend-img{
    margin-left: 5px;
    margin-top: 3px;
}
.connection-mutual-friend{
    color: #29292e;    
}
.connection-remove-message-button{
    margin-right: 20px;
    margin-top: 10px;
}

.Connection-remove{
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
    border-style: none;
    margin-right: 10px;
}
.Connection-message{
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
    border-style: none;
}

.Connection-button-large {
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
    border-style: none; 
    width: 95%;
    margin-top: 30px;
}
