.forget-password{
    width: 450px;
    height: 430px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 540px;
}
.forget-password-heading{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 600;
    line-height: 1.25;
}
.forget-password-para{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #495057;
}
.forget-ps{
    display: flex;
}
.forget-password-input{
    display: flex;
    text-align: left;
    margin-left: 40px;
    width: 340px;
    padding-left: 20px;
}
.forget-password-icon{
    padding: 10px;
    background-color: #eef0f2;
}
.forget-password-border{
    display: flex;
    margin-left: 42px;
    width: 375px;
    border-radius: 10px;
    margin-top: 10px;
}
.forget-password-text{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.forget-password-text1{
    margin-left: 40px;
    color: #495057;
}
.forget-password-text-icon{
    margin-right: 40px;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border: 1px solid #495057;
    border-radius: 50%;
}
.forget-password-link1{
    text-decoration: none;
    margin-left: 5px;
}
.forgret-password-button1{
    width: 375px;
    height: 50px;
}
.forget-password-text2{
    color: #495057;
    margin-top: 10px;
}
.show-password-icon1{
    font-size: 21px;
    cursor: pointer;
}