.latest-news{
    width: 800px;
    height: auto;
    margin-top: 20px;
    margin-left: 190px;
    margin-bottom: 100px;
    background-color: white;
}
.latest-news-heading{
    display: flex;
    justify-self: start;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 700;
}
.latest-news-info{
    display: flex;
}
.latest-news-img{
    display: flex;
    justify-self: start;
    margin-left: 17px;
    margin-top: 30px;
    width: 247px;
    height: 173px;
    border-radius: 10px;
}
.latest-news-button{
    display: flex;
    background-color: #fd7e14;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
    height: auto;
    border-radius: 05px;
    font-size: 12px;
    color: white;
}
.news-info-heading{
    display: flex;
    margin-left: 20px;
    margin-top: 07px;
    text-align: left;
}
.news-info{
    text-decoration: none;
    color: #000;
}
.news-para-info{
    display: flex;
    margin-left: 20px;
    margin-top: 05px;
    text-align: left;
}
.news-time-date{
    display: flex;
    margin-left: 20px;
    line-height: 4px;
}
.news-icon{
    margin-top: -5px;
}
.news-hr{
    width: 95%;
    margin-left: 20px;
    margin-top: 25px;
}
.news-pagination{
    margin-left: 250px;
}

.latest-news-button1{
    background-color: #f8d7da;
    color: #d6293e;
    font-weight: 700;
  }

.latest-news-button2{
    background-color: #cfe2ff;
    color: #4f9ef8;
    font-weight: 700;
  }

.latest-news-button3{
  background-color: #d1e7dd;
  color: #0cbc87;
  font-weight: 700;
}

.latest-news-button4{
    background-color: #fff3cd;
    color: #f7c32e;
    font-weight: 700;
  }
  